<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Menu</title>
</head>
<body>

<nav class="navbar navbar-light bg-light">
    <a th:href="@{/menu}" class="navbar-brand">Mi Web</a>
    <h1 th:inline="text"> Hola [[${#httpServletRequest.remoteUser}]]</h1>

    <form th:action="@{/logout}" class="form-inline" method="post">

        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Salir
        </button>

    </form>



</nav>

<div class="section">

    <div class="container">
        <a th:href="@{/cities/add}" class="button">Añade un Pais</a>
    </div>

    <div th:switch="cities" class="container">
        <div th:case="*" class="row">
            <div class="col s12 center">
                <h4>Lista de Paises</h4>
                <br>
                <table class="highlight responsive-table">
                    <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Ciudad</th>
                        <th scope="col">Id Pais</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="city : ${cities}">
                        <th scope="row" th:text="${city.cityId}"></th>
                        <td th:text="${city.name}"></td>
                        <td th:text="${city.country_id}"></td>

                        <td>
                            <div>
                                <a th:href="@{/countries/edit/{id_city}
                                    (id_city=${city.country_id})}"
                                   class="waves-effect waves-light btn-small">Editar
                                </a>
                                <a th:href="@{/countries/delete/{id_city}
                                (id_city=${city.country_id})}"
                                   class="waves-effect waves-light btn-small red lighten-1">Eliminar
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>