<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Menu</title>
</head>
<body>

<nav class="navbar navbar-light bg-light">
    <a th:href="@{/menu}" class="navbar-brand">Mi Web</a>
    <h1 th:inline="text"> Hola [[${#httpServletRequest.remoteUser}]]</h1>

    <form th:action="@{/logout}" class="form-inline" method="post">

        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Salir
        </button>

    </form>



</nav>

<div class="container">

    <div class="row justify-content-center mt-5">
        <div class="card col-md-4">
            <div class="card-header text-center">Nuevo País</div>
            <div class="card-body">
                <form th:object="${country}" th:action="@{/countries/add}" class="col-12" method="post">

                    <div class="form-group">
                        <label for="name">Nombre del País</label>
                        <input type="text" id="name" class="form-control"
                               placeholder="name" th:field="*{name}" autofocus>
                    </div>

                    <button class="btn btn-primary btn-block" type="submit">Confirmar</button>
                    <a th:href="@{/countries}" class="text-danger">Atras</a>
                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>